.contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-header{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-base{
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}
.contact-check{
    width: 911px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 21px;
}

.input-area{
    width: 445px;
    height: 80px;
    position: relative;
}
.checkmark-position{
    position: absolute;
    top: 64px;
    right: 24px;
}
.hide{
    display: none;
}

.button-active{
    cursor: pointer;
    width: 134px;
    height: 48px;
    color: var(--highlight);
    border-color: #89BCD9;
    border-style: solid;
    border-radius: 50px;
    background-color: #262e3400;

    &:hover{
        color: var(--main-bg);
        background-color: #89BCD9;
        transition: 0.5s;
    }
}
.button-inactive{
    width: 134px;
    height: 48px;
    color: #8e9ca8;
    border-color:  #8e9ca8;
    border-style: solid;
    border-radius: 50px;
    background-color: #262e3400;
}
.even{
    justify-content: space-evenly;
}
.contact-icons{
    width: 20px;
    height: 20px;
}
.contact-data{
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    font-family: 'Josefin';
    color: var(--basic);

    &:hover{
        color: var(--highlight);
    }
}
.content-box{
    width: 445px;
    height: 80px;
    &__email{
        height: 30px;
        background-image: url(assets/icons/links/Enail_default.png);
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
            background-image: url(assets/icons/links/Enail_hover.png);
        }
    }
    &__tel{
        height: 30px;
        background-image: url(assets/icons/links/Tel_default.png);
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
            background-image: url(assets/icons/links/Tel_hover.png);
        }
    }
}
.relative{
    margin-top: 32px;
    position: relative;
}
.content-box-large{
    width: 911px;
    height: 194px;
}
.input-frame{
    border-color: #89BCD9;
    border-style: solid;
    border-radius: 50px;
    background-color: #00000000;
    color: var(--basic);
    &:hover{
        background-color: var(--overlay);
    }
}
.error{
    color: var(--error);
    border-color: var(--error);
}

.padding{
    padding-left: 32px;
}
.contact-checkbox{
    width: 24px;
    height: 24px;
    background-image: url(assets/checkbox/checkbox-default.png);
    background-repeat: no-repeat;
    background-size: contain;
    &:hover{
        background-image: url(assets/checkbox/checkbox-hover.png);
    }
}
.contact-checkbox-error{
    width: 24px;
    height: 24px;
    background-image: url(assets/checkbox/checkbox-error.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.right{
    width: 911px;
    justify-content: end;
}
.column-reverse{}
.contact-title{}
.arrow-mobile{
    display: none;
}

@media(max-width:391px){
    .contact-header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-base{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }
    .input-area{
        width: 337px;
        height: 60px;
        position: relative;
    }
    .content-box{
        width: 337px;
        height: 60px;
    }
    .content-box-large{
        width: 337px;
        height: 200px;
    }
    .column-reverse{
        flex-direction: column-reverse;
    }
    .contact-title{
        display: none;
    }
    .contact-check{
        width: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 21px;
    }
    .arrow-mobile{
        display: flex;
    }
}
