nav{
    position:sticky;
    top: 0;
    right: 0;
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--site-bg);
    background-color: var(--highlight);
    z-index: 100;
}
.lang-selection{
    &__base{
        cursor: pointer;
        text-decoration: none;
        font-family: 'Josefin';
        color: var(--main-bg);
        &:hover{
            color: var(--basic);
        }
    }
    &__white{
        cursor: pointer;
        text-decoration: none;
        font-family: 'Josefin';
        color: var(--basic);
        
        background-image: url(/assets/my-skill-highlight.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media(max-width:391px){
    nav{
        display: none;
    }
}