<section  class="my-projects-container">

    <section class="my-projects-base column nav-bar-padding" id="my-projects">
        <h3>My Projetcs</h3>
        <section class="my-projects-base column">
            <div class="project-titles">
                @for (project of projects; track $index) {
                    <div (click)="selectProject(project)" class="project-title btn {{project.bonusclass}}" id="{{project.projectID}}">
                        <h4 class="pc-only">{{project.title}}</h4>
                        <h4 class="mobile-only">{{project.mobiletitle}}</h4>
                    </div>
                }
            </div>
            <section class="project-bg">
                <section class="project-box">
                    <section class="project-details-section">
                        <div class="project-details gap">
                            <img class="project-icon" src="assets/my-skill-highlight.png" alt="">
                            <section class="column">
                                <div class="">
                                    <div class="project-description">
                                        <h4>About the project</h4>
                                        <p id="project-duration">Duration: {{projectDuration}}</p>
                                    </div>
                                    <p id="project-description">{{projectDescription}}</p>
                                </div>
                            </section>
                        </div>
                        <div class="project-details gap">
                            <img class="project-icon" src="assets/my-skill-highlight.png" alt="">
                            <section class="column">
                                <div class="">
                                    <h4>How I organized my work process</h4>
                                    <p id="project-organisation">{{projectProcess}}</p>
                                </div>
                            </section>
                        </div>
                        <div class="project-details gap">
                            <img class="project-icon" src="assets/my-skill-highlight.png" alt="">
                            <section class="column">
                                <div class="">
                                    <h4>My experience</h4>
                                    <p id="project-experience">{{projectExperience}}</p>
                                </div>
                            </section>
                        </div>
                    </section>
                    <div class="project-details-base gap">
                        <section class="tech-box">
                            <h4>Technologies</h4>
                            <div class="tech-icons" id="tech-list">
                                <img class="project-icon" src="assets/icons/Icons_JavaScript.png">
                                <img class="project-icon" src="assets/icons/Icons_JavaScript.png">
                                <img class="project-icon" src="assets/icons/Icons_JavaScript.png">
                                <img class="project-icon" src="assets/icons/Icons_HTML.png">
                                <img class="project-icon" src="assets/icons/Icons_CSS.png">
                            </div>
                            <div class="mobile-only tech-list-2">
                                <p>Tech: {{projectTech}}</p>
                                <p>Duration: {{projectDuration}}</p>
                            </div>
                        </section>
                        <img class="project-img" src="assets/projetcs/SpaceBlast.png" alt="" id="project_screenshot">

                        <section class="project-details-section-mobile">
                            <section class="column tech-box">
                                <div class="">
                                    <div class="project-description">
                                        <img class="project-icon" src="assets/my-skill-highlight.png" alt="">
                                        <h4>About the project</h4>
                                    </div>
                                    <p id="project-description">{{projectDescription}}</p>
                                </div>
                                <div class="">
                                    <div class="project-description">
                                        <img class="project-icon" src="assets/my-skill-highlight.png" alt="">
                                        <h4>How I organized my work process</h4>
                                    </div>
                                    <p id="project-description">{{projectProcess}}</p>
                                </div>
                                <div class="">
                                    <div class="project-description">
                                        <img class="project-icon" src="assets/my-skill-highlight.png" alt="">
                                        <h4>My experience</h4>
                                    </div>
                                    <p id="project-description">{{projectExperience}}</p>
                                </div>
                            </section>
                        </section>

                        <div class="row gap">
                        <button (click)="liveTest()" class="btn btn2">Live Test</button>
                        <button (click)="gitHub()" class="btn btn1">GitHub</button>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>

</section>
