.burger-menu{
    width: 353px;
    height: 376px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(/assets/mobile-burger-menu-bg.png);
    background-repeat: no-repeat;
}
.mobile-header-top{
    display: none;
}
.link-container{
    display: flex;
}
.header-container{
    width: 100%;
    height: calc(100vh - 104px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links-base{
    width: 66px;
    height: 200px;
    margin: 0;
}
.my-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-icon{
    &__email{
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-image: url(assets/icons/links/email_default.png);
        &:hover{
            background-image: url(assets/icons/links/email_hover-blue.png);
            transition: 0.5s;
        }
    }
    &__github{
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-image: url(assets/icons/links/github_default.png);
        &:hover{
            background-image: url(assets/icons/links/github_hover-blue.png);
            transition: 0.5s;
        }
    }
    &__linkedin{
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-image: url(assets/icons/links/linkedin_default.png);
        &:hover{
            background-image: url(assets/icons/links/linkedin_hover-blue.png);
            transition: 0.5s;
        }
    }
}
.bg-shape{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 700px;
    background-image: url(/assets/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &:hover{
        background-image: url(/assets/header-bg-hover.png);
        transition: 1s;
    }
}
.photo{
    height: 683px;
    width: 535px;
}
.photo-mobile{
    display: none;
}

@media(max-width:391px){
    .mobile-header-top{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 24px;
    }
    .header-container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .link-container{
        display: none;
    }
    .my-name{
        margin-top: 32px;
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 21px;
        }
    }
    .bg-shape{
        height: 350px;
        width: 100%;
        background-image: none;
        &:hover{
            background-image: none;
        }
    }
    .photo{
        display: none;
    }
    .links-base{
        display: none;
    }
        .photo-mobile{
        display: flex;
        width: 291px;
        height: 350px;
    }
}


