<section class="header-container" id="header">

    <section class="mobile-header-top">
        <img src="assets/LOGO.png" alt="">
        <img (click)="openBurgerMenu()" class="btn" src="assets/mobile-menu.png" alt="">
    </section>

    <section class="bg-shape">  
        <div class="burger-menu" id="burgerMenu">
            <a class="selection" href="#why-me">Why me</a>
            <a class="selection" href="#my-skills">Skills</a>
            <a class="selection" href="#my-projects">Projects</a>
            <a class="selection" href="#contact-me">Contact</a>
        </div>
        <img class="photo-mobile" src="assets/mobile_pic.png" alt="" id="mobilePhoto">
        <img class="photo" src="assets/placeholder_img.png" alt="">
    </section>

    <section class="column">

        <section class="link-container row end">

            <div class="links-base"></div>

            <img src="assets/LOGO.png" alt="">

            <section class="links-base column">
                <div class="header-icon__email"></div>
                <div (click)="openGitHub()" class="header-icon__github"></div>
                <div (click)="openLinkedIn()" class="header-icon__linkedin"></div>
            </section>

        </section>

        <section class="my-name column">
            <h1>Björn Sagmeister</h1>
            <h2>FRONTEND DEVELOPER</h2>
        </section>

        <a class="arrow-frame row centered" href="#why-me">
            <img class="btn" src="assets/Arrow_down.png" alt="">
        </a>

    </section>

</section>