.links-base{
    width: 66px;
    height: 200px;
    margin: 0;
}

.header-icon{
    &__email{
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-image: url(/assets/icons/links/email_default.png);
        &:hover{
            background-image: url(/assets/icons/links/email_hover-blue.png);
            transition: 0.5s;
        }
    }
    &__github{
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-image: url(/assets/icons/links/github_default.png);
        &:hover{
            background-image: url(/assets/icons/links/github_hover-blue.png);
            transition: 0.5s;
        }
    }
    &__linkedin{
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-image: url(/assets/icons/links/linkedin_default.png);
        &:hover{
            background-image: url(/assets/icons/links/linkedin_hover-blue.png);
            transition: 0.5s;
        }
    }
}

