<section class="size row">

    <section class="bg-shape">  
        <img class="photo" src="/assets/placeholder_img.png" alt="">
    </section>

    <section class="column">

        <section class="row end">
            <div></div>
            <img src="/assets/LOGO.png" alt="">
            <section class="column">
                <img class="icon" src="/assets/Email_button.png" alt="">
                <img class="icon" src="/assets/Github_button.png" alt="">
                <img class="icon" src="/assets/Linkedin_button.png" alt="">
            </section>
        </section>

        <section>
            <h1>Björn Sagmeister</h1>
            <h2>FRONTEND DEVELOPER</h2>
        </section>

        <img class="arrow" src="/assets/Arrow_down.png" alt="">

    </section>

</section>