<section class="size row" id="header">

    <section class="bg-shape">  
        <img class="photo" src="/assets/placeholder_img.png" alt="">
    </section>

    <section class="column">

        <section class="row end">

            <div class="links-base"></div>

            <img src="/assets/LOGO.png" alt="">

            <section class="links-base column">
                <div class="header-icon__email"></div>
                <div class="header-icon__github"></div>
                <div class="header-icon__linkedin"></div>
            </section>

        </section>

        <section class="column">
            <h1>Björn Sagmeister</h1>
            <h2>FRONTEND DEVELOPER</h2>
        </section>

        <a class="arrow-frame row centered" href="#why-me">
            <img class="btn" src="/assets/Arrow_down.png" alt="">
        </a>

    </section>

</section>