<section class="my-projects-container">

    <section class="my-projects-base column nav-bar-padding" id="my-projects">
        <div>
            <h3>My Projetcs</h3>
        </div>
        <section class="my-projects-base column">
            <div class="row bound-left gap">
                @for (project of projects; track $index) {
                    <div class="project-title btn ">
                        <h4>{{project.title}}</h4>
                    </div>
                }
            </div>
            <section class="project-box">
                <div class="project-details gap">
                    <img class="project-icon" src="/assets/my-skill-highlight.png" alt="">
                    <section class="column">
                        <h4>Placeholder</h4>
                        <p>Placeholder</p>
                    </section>
                </div>
                <div class="column">
                    <h4>Technologies</h4>
                    <div class="row gap">
                        @for (technology of technologies; track $index) {
                            <div class="project-icon">
                            <img src="{{technology.icon1}}" alt="">
                            </div>
                            <div class="project-icon">
                            <img src="{{technology.icon2}}" alt="">
                            </div>
                            <div class="project-icon">
                            <img src="{{technology.icon3}}" alt="">
                            </div>
                        }
                    </div>
                    <img class="project-img" src="/assets/projetcs/SpaceBlast.png" alt="" id="project-screen-shot">
                    <div class="row gap">
                        <button (click)="liveTest()" class="btn">Live Test</button>
                        <button (click)="gitHub()" class="btn">GitHub</button>
                    </div>
                </div>
            </section>
        </section>
    </section>

</section>
