.mobile-only{
    display: none;
}
.comments-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment-base{
    width: 1440px;
    margin: 32px;
    > h3{
        margin-bottom: 64px;
    }
}
.comment-box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:0;
}
.comment-bg{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(assets/text-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &:hover{
        background-image: url(assets/text-bg-hover.png);
        transition: 0.5s;
    }
}

@media(max-width:391px){
    .comment-title{
        display: none;
    }
    .mobile-only{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .comments-container{
        width: 390px;
    } 
    .comment-base{
        width: 100%;
        margin: 32px;
        > h3{
            margin-bottom: 32px;
        }
    }
    .comment-box{
        overflow: auto;
        white-space: nowrap;
        padding: 24px;
    }
    .comment-bg{
        width: 290px;
        height: 290px;
        >h3 {
            font-size: 16px;
            color: var(--basic);
        }
        >p{
            width: 50%;
            height: 50%;
        }
    }
}