.main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-box{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 62px 32px;
}
.return-button{
    >img{
        rotate: 90deg;
    }
}