<section class="why-me-container">
    <section class="why-me-base nav-bar-padding" id="why-me">
        <h3 class="color-highliht">Why me</h3>
        <section class="why-me-ceter row space-around start-y">
        <div class="row">
            <img class="icon-size" src="/assets/icon.png" alt="">
            <p class="font-b color-highliht">I am </p> <p class="font-b">located in Pirmasens, Germany</p>
        </div>
        <p class="text-para">Why are you passionate about coding?  
        You can include some key traits like: analytical thinking, creativity, persistence and  collaboration.
        A problem-solving mindset is always nice to have.
        </p>
        </section>
        <div class="bottom-button-box row end-x">
        <button class="font-b">
            Let's talk
        </button>
        </div>
    </section>
</section>
