.my-skills-bg{
    width: 380px;
    height: 380px;
    background-image: url(/portfolio/public/assets/my-skills-bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}