footer{
    width: 100%;
    height: 214px;
    background-color: var(--highlight);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-legal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.footer-icon{
    &__email{
        width: 30px;
        height: 30px;
        background-image: url(/assets/icons/links/email_dark.png);
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
            background-image: url(/assets/icons/links/email_white.png);
            transition: 0.5s;
        }
    }
    &__github{
        width: 30px;
        height: 30px;
        background-image: url(/assets/icons/links/github_dark.png);
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
            background-image: url(/assets/icons/links/github_white.png);
            transition: 0.5s;
        }
    }
    &__linkedin{
        width: 30px;
        height: 30px;
        background-image: url(/assets/icons/links/linkedin_dark.png);
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
            background-image: url(/assets/icons/links/linkedin_white.png);
            transition: 0.5s;
        }
    }
}