footer{
    width: 1440px;
    height: 214px;
    background-color: var(--highlight);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-legal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.footer-icon{
    width: 30px;
    height: 30px;
    &__github{
        background-image: url(/portfolio/public/assets/icons/links/github_dark.png);
    }
    &__email{
        background-image: url(/portfolio/public/assets/icons/links/email_dark.png);
    }
    &__linkedin{
        background-image: url(/portfolio/public/assets/icons/links/linkedin_dark.png);
    }
    background-repeat: no-repeat;
}